<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/Css/detailProject.css">
    <title>Document</title>
</head>
<body>


    <nav class="navbar" >
        <ul>
            <div class="nav-menu">
                <img src="./assets/Image/download.png" alt="Logo">
                <a href="index.html" class="nav-link collapse" >Home</a>
                <a href="myProject.html" class="nav-link collapse">My Project</a>
                <a href="testimonial.html" class="nav-link collapse">Testimonials</a>
            </div>
                <a class="btn-contact collapse" href="contact.html">Contact Me</a>
                <i class="fa-solid fa-bars fa-2x" onclick="humbergerMenu()" id="btn-humberger"></i>
        </ul>
    </nav>

        <!-- HUMBERGER  -->
        
        <div id="humbergerNavContainer">
            <div class="container-humberger">
                <a href="index.html" class="humberger-link" >Home</a>
                <a href="myProject.html" class="humberger-link" >My Project</a>
                <a href="contact.html" class="humberger-link">Contact Me</a>
            </div>
        </div>
 
    <div class="container">
            <div class="content">
        <div class="main-content">
            <h1>Dumbways Web App </h1>
            <div class="image-container">
            <img class="photo" src="./assets/Image/images.jpg" alt="">

            <div class="duration-container">
            <span>Duration</span>
            <div class="calender-container">
            <img src="./assets/Icons/calendar.png" alt="">
            <p>3 Juni 2024 - 3 Agustus 2024</p>
        </div>
        <div class="time-container">
        <img src="./assets/Icons/time-left.png" alt="">
        <p>1 Month</p>
    </div>

    <div class="technology">
    <p  class="title-tech">Technologies</p>
    <div class="icon-container">
    <img src="./assets/Icons/atom.png" alt="">
    <p>React Js</p>
    <img class="icon-js" src="./assets/Icons/js-file.png" alt="">
    <p>Java Script</p>
</div>
</div>
<div class="icon-content">
<img src="./assets/Icons/technology.png" alt="">
<p>Node Js</p>
<img class="icon-js" src="./assets/Icons/flash.png" alt="">
<p>Socket IO</p>
</div>

        </div>
        </div>

        
        <div class="text-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel natus ex ducimus eius praesentium laborum sequi 
            ad maiores necessitatibus, harum illo similique! Eveniet magni, quo veniam, possimus aspernatur facilis mollitia
             dicta beatae expedita, velit molestias. Nulla eaque amet nesciunt ipsum sequi iste deleniti saepe sit inventore
             ad maiores necessitatibus, harum illo similique! Eveniet magni, quo veniam, possimus aspernatur facilis mollitia
             dicta beatae expedita, velit molestias. Nulla eaque amet nesciunt ipsum sequi iste deleniti saepe sit inventore
             ipsum dolor sit amet consectetur adipisicing elit. Vel natus ex ducimus eius praesentium laborum sequi 
            ad maiores necessitatibus, harum illo similique! Eveniet magni, quo veniam, possimus aspernatur facilis mollitia
             dicta beatae expedita, velit molestias. Nulla eaque amet nesciunt ipsum sequi iste deleniti saepe sit inventore
             ad maiores necessitatibus, harum illo similique! Eveniet magni, quo veniam, possimus aspernatur facilis mollitia
             dicta beatae expedita, velit molestias. Nulla eaque amet nesciunt ipsum sequi iste deleniti saepe sit inventore
             ad maiores necessitatibus, harum illo similique! Eveniet magni, quo veniam, possimus aspernatur facilis mollitia
             dicta beatae expedita, velit molestias. Nulla eaque amet nesciunt ipsum sequi iste deleniti saepe sit inventore
             ad maiores necessitatibus, harum illo similique! Eveniet magni, quo veniam, possimus aspernatur facilis mollitia
             dicta beatae expedita, velit molestias. Nulla eaque amet nesciunt ipsum sequi iste deleniti saepe sit inventore
             ad maiores necessitatibus, harum illo similique! Eveniet magni, quo veniam, possimus aspernatur facilis mollitia
             dicta beatae expedita, velit molestias. Nulla eaque amet nesciunt ipsum sequi iste deleniti saepe sit inventore
             ad maiores necessit
        </p>

</div>
    </div>
       </div>

<script src="./assets/Js/humberger.js"></script>

</body>
</html>