<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./assets/Css/myProject.css" />
    <!-- <link rel="stylesheet" href="./assets/Css/contact.css" /> -->
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg"
      style="background-color: #f5f3f3; margin-top: 5px"
    >
      <div class="container-fluid">
        <img
          class="me-3"
          src="./assets/Image/download.png"
          style="width: 40px; margin-left: 2rem"
          alt=""
        />
        <a
          href="contact.html"
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link nav-item me-2" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-item me-2 fw-bold" href="/myProject">Add
                Projoect</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link nav-item me-2"
                href="/testimonial"
              >Testimonials</a>
            </li>
          </ul>

          <a href="/contact">
            <button class="btn btn-dark text-light me-4" type="submit">
              Contact Me
            </button>
          </a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row justify-content-center">
        <h2 class="row justify-content-center fw-bold mt-5 mb-3">
          ADD MY PROJECT
        </h2>
        <div class="col-md-5">
          <form
            action="/addProject"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="mb-3">
              <label
                for="exampleFormControlInput1"
                class="form-label fw-bold mb-0"
              >Project Name</label>
              <input
                type="text"
                class="form-control custom-input"
                style="outline: white"
                id="inputName"
                name="title"
              />
            </div>

            <div class="row justify-content-center">
              <div class="col-6">
                <div>
                  <label
                    for="exampleFormControlInput1"
                    class="form-label fw-bold mb-0"
                  >Start Date</label>
                  <input
                    type="date"
                    class="form-control custom-input"
                    style="outline: white"
                    id="startDate"
                  />
                </div>
              </div>

              <div class="col-6">
                <div class="mb-3">
                  <label
                    for="exampleFormControlInput1"
                    class="form-label fw-bold mb-0"
                  >End date</label>
                  <input
                    type="date"
                    class="form-control custom-input"
                    style="outline: white"
                    id="endDate"
                  />
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label
                for="exampleFormControlTextarea1"
                class="form-label fw-bold mb-0"
              >Your Message</label>
              <textarea
                class="form-control custom-input"
                style="resize: none"
                id="inputDescription"
                name="content"
                rows="3"
              ></textarea>
            </div>

            <label
              for="exampleFormControlTextarea1"
              class="form-label fw-bold mb-0"
            >Technologies</label>
            <div style="display: flex; flex-direction: row">
              <div class="form-check" style="width: 150px">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="nodeJs"
                  name="tech"
                />
                <label class="form-check-label" for="flexCheckDefault">Node Js</label>
              </div>

              <div class="form-check" style="width: 150px">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="reactJs"
                  name="tech"
                />
                <label class="form-check-label" for="flexCheckDefault">React Js</label>
              </div>
            </div>

            <div
              class="mb-3"
              style="display: flex; flex-direction: row; align-items: center"
            >
              <div class="form-check" style="width: 150px">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="nextJs"
                  name="tech"
                />
                <label class="form-check-label" for="flexCheckDefault">Next Js</label>
              </div>

              <div class="form-check" style="width: 150px">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="phython"
                  name="tech"
                />
                <label class="form-check-label" for="flexCheckDefault">Type
                  Script</label>
              </div>
            </div>

            <div class="mb-3">
              <label
                for="exampleFormControlInput1"
                class="form-label fw-bold mb-0"
              >Upload Image</label>
              <input
                class="form-control custom-input"
                type="file"
                id="inputImage"
                name="image"
              />
            </div>

            <div class="col-auto d-flex justify-content-end">
              <form class="d-flex">
                <button
                  class="btn btn-dark text-light"
                  style="border-radius: 30px; padding: 3px; width: 100px"
                  type="submit"
                >
                  Submit
                </button>
              </form>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="new-project">
      <hr />

      <div class="html-content" id="contens">
      </div>
    </div>

    {{! <script src="./assets/Js/myProject.js"></script> }}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>