<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Add Project</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./assets/Css/myProject.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg" style="background-color: #f5f3f3;">
      <div class="container-fluid">
        <a href="/">
          <img
            src="./assets/Image/download.png"
            style="width: 40px; margin-right: 12px; margin-left: 30px"
            alt="logo"
          />
        </a>
        <a
          href="/contact"
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="/addProject">Add Projoect</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/testimonial">Testimonials</a>
            </li>
          </ul>

          {{#if isLogin}}
            <div class="d-flex align-items-center mb-lg-0 mb-3">
              <p
                class="nav-link nav-item me-2 fw-semibold lh-1 fst-italic mb-0"
              >Welcome,
                {{user.name}}</p>
              <a
                href="/logout"
                class="me-4 link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
              >Logout</a>
            </div>
          {{/if}}

          <a href="/contact">
            <button class="btn btn-dark text-light" type="button">
              Contact Me
            </button>
          </a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row justify-content-center">
        <h2 class="row justify-content-center fw-bold mt-5 mb-3">
          ADD MY PROJECT
        </h2>
        <div class="col-md-5">
          <form
            action="/addProject"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="mb-3">
              <label
                for="input-add-project-name"
                class="form-label fw-bold mb-0"
              >Project Name</label>
              <input
                type="text"
                class="form-control custom-input"
                style="outline: white"
                id="input-add-project-name"
                name="name"
                required
              />
            </div>

            <div class="row justify-content-center">
              <div class="col-6">
                <div>
                  <label
                    for="input-add-project-start-date"
                    class="form-label fw-bold mb-0"
                  >Start Date</label>
                  <input
                    type="date"
                    class="form-control custom-input"
                    style="outline: white"
                    id="input-add-project-start-date"
                    name="start_date"
                    required
                  />
                </div>
              </div>

              <div class="col-6">
                <div class="mb-3">
                  <label
                    for="input-add-project-end-date"
                    class="form-label fw-bold mb-0"
                  >End date</label>
                  <input
                    type="date"
                    class="form-control custom-input"
                    style="outline: white"
                    id="input-add-project-end-date"
                    name="end_date"
                    required
                  />
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label
                for="input-add-project-message"
                class="form-label fw-bold mb-0"
              >Your Message</label>
              <textarea
                class="form-control custom-input"
                style="resize: none"
                id="input-add-project-message"
                name="description"
                rows="3"
                required
              ></textarea>
            </div>

            <label
              for="input-add-project-techs"
              class="form-label fw-bold mb-0"
            >Technologies</label>
            <div style="display: flex; flex-direction: row">
              <div class="form-check" style="width: 150px">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="checkbox-add-project-nodejs"
                  name="tech[]"
                  value="nodejs"
                />
                <label
                  class="form-check-label"
                  for="checkbox-add-project-nodejs"
                >Node Js</label>
              </div>

              <div class="form-check" style="width: 150px">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="checkbox-add-project-reactjs"
                  name="tech[]"
                  value="reactjs"
                />
                <label
                  class="form-check-label"
                  for="checkbox-add-project-reactjs"
                >React Js</label>
              </div>
            </div>

            <div
              class="mb-3"
              style="display: flex; flex-direction: row; align-items: center"
            >
              <div class="form-check" style="width: 150px">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="checkbox-add-project-nextjs"
                  name="tech[]"
                  value="nextjs"
                />
                <label
                  class="form-check-label"
                  for="checkbox-add-project-nextjs"
                >Next Js</label>
              </div>

              <div class="form-check" style="width: 150px">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="checkbox-add-project-typescript"
                  name="tech[]"
                  value="typescript"
                />
                <label
                  class="form-check-label"
                  for="checkbox-add-project-typescript"
                >Type Script</label>
              </div>
            </div>

            <div class="mb-3">
              <label
                for="add-project-upload-image"
                class="form-label fw-bold mb-0"
              >Upload Image</label>
              <input
                id="add-project-upload-image"
                class="form-control custom-input"
                type="file"
                name="image"
                required
              />
            </div>

            <div class="mt-4 col-auto d-flex justify-content-end">
              <form class="d-flex">
                <button
                  class="btn btn-dark text-light"
                  style="border-radius: 30px; padding: 3px; width: 100px"
                  type="submit"
                >
                  Submit
                </button>
              </form>
            </div>
          </form>
        </div>
      </div>
    </div>

    {{! <script src="./assets/Js/myProject.js"></script> }}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>