body {
  background-color: rgb(230, 233, 238);
}

.btn.btn-outline-success.btn-dark.text-light:hover {
  color: inherit;
  background-color: black;
  border-color: black;
}

.custom-input {
  border: solid 0.1px rgb(182, 178, 178);
  border-radius: 2px white;
  box-shadow: 0px 2px 5px rgb(182, 178, 178);
}

.btn {
  font-size: 16px;
  text-align: center;
  background-color: rgb(19, 29, 46);
}

@media (max-width: 850px) {
  .navbar-toggler {
    border: none;
    box-shadow: none;
  }

  .sidebar {
    background-color: #9999;
    margin-top: 10px;
  }

  .sidebar a {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }

  .sidebar button {
    margin-bottom: 12px;
  }

  #test a {
    display: none;
  }

  #test p {
    display: none;
  }
}
